*{
  padding:0;
}
#txt{
  font-family:'楷体';
}
#btn{
  height:60px;
  width:100px;
}
ul li{
  list-style:none;
}
#ul li{
  background:black;
  color:white;
  line-height:50px;
  height:50px;
  width:500px;
  margin-top:10px;
}
