*{
	padding: 0;
	margin: 0;
}
#box{
	width: 600px;
	margin: 0 auto;
}
input{
	width: 150px;
	height: 40px;
	border-radius: 8px;
	
}
.main{
	width: 500px;
	margin: 0 auto;
	position: relative;
}
/*.main div{
	height: 20px;
	position: absolute;
	top: 5px;
	left: 230px;
}*/
/*.main div:hover{
	background-image: ;
}*/