.wd-main{
	width: 500px;
	margin: 0 auto;
	position: relative;
}
.wd-main input{
	margin-top: 10px;
	height: 25px;
	width: 200px;
}
.wd-main img{
	height: 20px;
	position: absolute;
	top: 15px;
	left: 230px;
}